<div class="tormenta20 chat-card item-card">
	<header class="card-header flexrow">
		<h3 class="item-name"><div>{{actorName}} caiu a 0 PV</div></h3>
	</header>
	<div class="card-content">
		<p>Condições aplicadas automaticamente:</p>
		<table class="t20-condition-table">
			<tr><th>Condição</th><th>Status</th></tr>
			<tr><td>Sangrando</td><td>OK</td></tr>
			<tr><td>Indefeso</td><td>OK</td></tr>
			<tr><td>Desprevenido</td><td>OK</td></tr>
			<tr><td>Caído</td><td>OK</td></tr>
			<tr><td>Inconsciente</td><td>OK</td></tr>
		</table>
	</div>
</div>
