<div class="tormenta20 chat-card item-card">
	<header class="card-header flexrow">
		<h3 class="item-name"><div>{{actorName}} voltou para 1+ PV</div></h3>
	</header>
	<div class="card-content">
		<p>Condições removidas automaticamente:</p>
		<table class="t20-condition-table">
			<tr><th>Condição</th><th>Status</th></tr>
			<tr><td>Sangrando</td><td>REMOVIDA</td></tr>
			<tr><td>Indefeso</td><td>REMOVIDA</td></tr>
			<tr><td>Desprevenido</td><td>REMOVIDA</td></tr>
			<tr><td>Inconsciente</td><td>REMOVIDA</td></tr>
		</table>
	</div>
</div>
