<label>
	<i class="fas fa-map-signs" style="color:#c9a84c; margin-right:4px;"></i>
	Mapa de Viagem
</label>
<div class="form-fields">
	<input type="checkbox"
	       name="flags.{{mod}}.{{flagKey}}"
	       {{#if flagVal}}checked{{/if}}
	       data-t20-travel-flag>
</div>
<p class="hint">
	Ativa o painel de tempo de viagem ao usar a régua nesta cena.
</p>
